.khan__book-pic {
  width:620px;
  margin:0 20px -30% 0;
  /* object-fit: cover;
  height: 608px;
  width: 620px;
  margin: 0 20px -40% 0; */
  /* background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; */
}
